<?xml version="1.0"  encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>Archetype created web application</display-name>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.RoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/room/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OccupiedRoomServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.OccupiedRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OccupiedRoomServlet</servlet-name>
        <url-pattern>/occupiedroom/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VaccantRoomServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.VaccantRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaccantRoomServlet</servlet-name>
        <url-pattern>/vaccantroom/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BedServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.BedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BedServlet</servlet-name>
        <url-pattern>/bed/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.wavemaker.controller.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking/*</url-pattern>
    </servlet-mapping>
</web-app>
